@page
@model Rik_Assignment.Pages.Event.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<section class="container  bg-white">
    <div class="bg-primary mt-2">
        <p class="h1">Ürituse kustutamine</p>
    </div>
    <div class="container col-4 text-dark">
        <h4>Kustuta üritus</h4>
        <div class=" container row">
    <dl class="row">
        <dt class="col-5">
            Ürituse nimi:
        </dt>
        <dd class="col-7">
            @Html.DisplayFor(model => model.EventModel.EventName)
        </dd>
        <dt class="col-5">
            Asukoht:
        </dt>
        <dd class="col-7">
            @Html.DisplayFor(model => model.EventModel.EventLocation)
        </dd>
        <dt class="col-5">
            Toimumisaeg:
        </dt>
        <dd class="col-7">
            @Html.DisplayFor(model => model.EventModel.EventDate)
        </dd>
        <dt class="col-5">
            Lisainfo:
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.EventModel.EventDescription)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EventModel.Id" />
        <a class="btn btn-outline-dark btn-light" asp-area="" asp-page="/Index"> Tagasi</a>
        <input type="submit" value="Kustuta" class="btn btn-danger" /> 
        
    </form>
</div>
        </div>

</section>