@page
@model Rik_Assignment.Pages.Event.EditModel

@{
    ViewData["Title"] = "Edit";
}
<section class="container  bg-white">
<div class="bg-primary mt-2">
    <p class="h1 text-light">Ürituse Muutmine</p>
</div>
<div class="container col-4 text-dark">
    <h1 class="text-light">Muuda üritust</h1>
<div class=" container row col-12">

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventModel.Id" />
            <div class="form-group">
                <label asp-for="EventModel.EventName" class="control-label">Ürituse nimi:</label>
                <input asp-for="EventModel.EventName" class="form-control" />
                <span asp-validation-for="EventModel.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventModel.EventLocation" class="control-label">Toimumiskoht:</label>
                <input asp-for="EventModel.EventLocation" class="form-control" />
                <span asp-validation-for="EventModel.EventLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventModel.EventDate" class="control-label">Toimumisaeg:</label>
                <input asp-for="EventModel.EventDate" class="form-control" />
                <span asp-validation-for="EventModel.EventDate" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="EventModel.EventDescription" class="control-label">Lisainfo:</label>
                <textarea asp-for="EventModel.EventDescription" class="form-control"></textarea>
                <span asp-validation-for="EventModel.EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-dark btn-light" asp-area="" asp-page="/Index"> Tagasi</a>
                <input type="submit" value="Salvesta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
