<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NULLAM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body class="bg-white bg-opacity-75">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid col-8">
                <a class="navbar-brand" asp-area="" asp-page="/Index">NULLAM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link  text-dark" asp-area="" asp-page="/Index">Avaleht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Event/Create">Ürituse Lisamine</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container border-top footer text-muted bg-dark">
        <div class="container row">
            <div class="col-4">
                <p class="h3">Lorem</p>
                <p class="row">dolor sit</p>
                <p class="row">amet, consectetur</p>
                <p class="row">adipiscing elit</p>
                <p class="row">Donec eu augue</p>
                </div>
            <div class="col-4">
                <p class="h3">Ipsum</p>
                <p class="row">Fusce enim neque</p>
                <p class="row">facilisis ac pretium</p>
                <p class="row">fermentum quis</p>
                <p class="row">facilisis dui</p>
               </div>
            <div class="col-4 row"><p class="h3">Kontakt</p>
                <div class="col-6">
                <p class="row h6 fw-bold">Peakontor:Tallinnas</p>
                <p class="row">Endla 45, 10615 Tallinn</p>
                <p class="row">Telefon: 605 1212</p>
                <p class="row">Faks: 605 3131</p>
                </div>
                <div class="col-6">
                    <p class="row h6 fw-bold">Harukontor:Võrus</p>
                <p class="row">Kreutzwaldi 31, 65609 Võru</p>
                <p class="row">Telefon: 605 4545</p>
                <p class="row">Faks: 605 6969</p>
                </div>
            </div>
            
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>