@page
@model Rik_Assignment.Pages.Participant.CreateModel


@{
    ViewData["Title"] = "Create";
}
<section class="container  bg-white">
    <div class="bg-primary mt-2">
        <p class="h1">Osavõtja Lisamine</p>
    </div>
<div class="container col-4 text-dark">
            <h4>Uus Osavõtja</h4>
            <div class=" container row col-12">
                <div class="">
        <form method="post">
            @RouteData.Values["{id:int}"]
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @(ViewContext.RouteData.Values["parameterName"])
            <input type="hidden" asp-for="ParticipantModel.EventRefID" />
            <div class="form-group">
                <label asp-for="ParticipantModel.FirstName" class="control-label">Eesnimi</label>
                <input asp-for="ParticipantModel.FirstName" class="form-control" />
                <span asp-validation-for="ParticipantModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipantModel.LastName" class="control-label">Perekonnanimi</label>
                <input asp-for="ParticipantModel.LastName" class="form-control" />
                <span asp-validation-for="ParticipantModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipantModel.PersonalID" class="control-label">Isikukood</label>
                <input asp-for="ParticipantModel.PersonalID" class="form-control" />
                <span asp-validation-for="ParticipantModel.PersonalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipantModel.PaymentMethod" class="form-label">Makseviis</label>
                <span asp-validation-for="ParticipantModel.PaymentMethod" class="text-danger"></span>
                <select class="form-select" asp-for="ParticipantModel.PaymentMethod" required>
                    <option selected disabled value="">Makseviis</option>
                    <option>Sularaha</option>
                    <option>Pangaülekanne</option>
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="ParticipantModel.Description" class="control-label">Lisainfo</label>
                <textarea asp-for="ParticipantModel.Description" class="form-control"></textarea>
                <span asp-validation-for="ParticipantModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-dark btn-light" asp-area="" asp-page="/Index"> Tagasi</a>
                <input type="submit" value="Lisa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
